<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Edit Schedule</title>
</head>
<body>
    <form method="POST" action="{{url_for('schedule', id=id)}}" name="form2" id="form2">
        {% if schedule %}
            {% set ns = namespace(day=0) %}  <!-- namespace allows you to carry a var to an outer loop -->
            {% set nasp = namespace(count=0) %}
            <table>
                {% for sched in schedule %}
                    {% for topic in sched['schedule'] %}
                        {% set nasp.count = nasp.count + 1 %}
                        {% if topic.get('name') == 'LUNCH' %}
                            <tr>
                                <th>
                                    LUNCH BREAK
                                </th>
                            </tr>
                        {% else %}
                            {% if topic['start'] == startTime %} <!-- checking if it is the start of a day -->
                                <tr>
                                    {% set ns.day = ns.day + 1 %} <!-- if it is then increment the day number -->
                                    <th>
                                        DAY {{ns.day}} <!-- display the day number -->
                                    </th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{topic['name']}}</td>
<!--                                <td>DURATION: <input type="number" name="input{{nasp.count}}" value=30></td>-->
                                <td>DURATION: <input type="number" name="input" value="{{topic['duration']}}"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        {% endif %}
    </form>
    <br>
    <br>
    <button type="Submit" name="edit" form="form2">Edit</button>
</body>
</html>