<!-- Author: Ronan Roche / ronan0999 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <nav>
            <a href="{{url_for('root')}}" name="home" id="home">Home</a>
        </nav>
    </header>
    {% if errors|length > 0 %}
            {% for error in errors %}
                <h4>{{error}}</h4>
            {% endfor %}
    {% endif %}
    <form method="POST" action="{{url_for('root')}}" name="guidForm" id="guidForm" class="id">
        GUID: <input type="text" name="guid">
    </form>
    <button type="submit" name="add" form="guidForm">Add</button>
    {% if modules %}
        <table class="modules">
            <tr></tr>
            <tr>
                <th>
                    COURSE NAMES
                </th>
            </tr>
            {% for module in modules %}
                <tr></tr>
                <tr>
                    <td>
                        <a href="{{url_for('topics',id=module.get('_id'))}}" name="{{module.get('name')}}">{{module['name']}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>